* {
    margin: 0;
}

body {
    background: hsl(56, 83%, 88%);
}

aside {
    width: 15%;
    height: 100%;
    background: #0E8044;
    margin: 0px;
    color: white;
    padding: 2% 5PX;
    list-style: none;
}

.menu {
    width: 98%;
    padding: 5px;
    background: #3CC47C;
    text-decoration: none;
    font-size: 3vh;
    margin: 1px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}